/*
Error: Inconsistent indentation: 1 tab was used for indentation, but the rest of the document was indented using 4 spaces.
        on line 4 of mobile.sass

1: media screen and (max-width: 320px)
2: body
3:     font: 10px/1.2em sans, serif;
4: 	width: 100%;
5: .site-header
6: 	width: 100%;
7:     ul
8:       	width: 80%;
9: 		border: 2px dashed blue;

Backtrace:
mobile.sass:4
/var/lib/gems/1.9.1/gems/sass-3.4.20/lib/sass/engine.rb:483:in `block in tabulate'
/var/lib/gems/1.9.1/gems/sass-3.4.20/lib/sass/engine.rb:441:in `each'
/var/lib/gems/1.9.1/gems/sass-3.4.20/lib/sass/engine.rb:441:in `each_with_index'
/var/lib/gems/1.9.1/gems/sass-3.4.20/lib/sass/engine.rb:441:in `tabulate'
/var/lib/gems/1.9.1/gems/sass-3.4.20/lib/sass/engine.rb:406:in `_to_tree'
/var/lib/gems/1.9.1/gems/sass-3.4.20/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/var/lib/gems/1.9.1/gems/sass-3.4.20/lib/sass/engine.rb:295:in `render_with_sourcemap'
/var/lib/gems/1.9.1/gems/sass-3.4.20/lib/sass/exec/sass_scss.rb:412:in `run'
/var/lib/gems/1.9.1/gems/sass-3.4.20/lib/sass/exec/sass_scss.rb:63:in `process_result'
/var/lib/gems/1.9.1/gems/sass-3.4.20/lib/sass/exec/base.rb:52:in `parse'
/var/lib/gems/1.9.1/gems/sass-3.4.20/lib/sass/exec/base.rb:19:in `parse!'
/var/lib/gems/1.9.1/gems/sass-3.4.20/bin/sass:13:in `<top (required)>'
/usr/local/bin/sass:23:in `load'
/usr/local/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Inconsistent indentation: 1 tab was used for indentation, but the rest of the document was indented using 4 spaces.\A         on line 4 of mobile.sass\A \A 1: media screen and (max-width: 320px)\A 2: body\A 3:     font: 10px/1.2em sans, serif;\A 4: 	width: 100%;\A 5: .site-header\A 6: 	width: 100%;\A 7:     ul\A 8:       	width: 80%;\A 9: 		border: 2px dashed blue;"; }
