$header: #7E7E7F;
$cbackground: #AB2CFF;
$content: #FCFCFF;
$footer: #505D7F;
$background: #C9CACC;
$bodywidth: 70.2781845%;
$border1: 1px dashed red;
$borderrad: 10px 30px;
$bordergrey: 1px solid grey;
$navspacer: 1px solid black;
$bleft: border-left;
$bright: border-right;
$btop: border-top;
$bbottom: border-bottom;
@function fluidize($target, $context) {
  @return ($target / $context) * 100%;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  //border: $border1;
}

@mixin box-sizing($x: border-box) {
  box-sizing: $x;
  -moz-box-sizing: $x;
  -webkit-box-sizing: $x;
}

@font-face {
  font-family: 'myriadpro-regular';
  src: url('../fonts/myriadpro-regular.otf') format("otf");
}

body {
  //background-color: $background;
  background-image: url(../img/earth1.jpg);
	font-family: "myriadpro-regular";
  width: fluidize(960, 1366);
  margin: 0 auto;
  background-color: $background;
  text-align: center;
  //border: $border1;
	border: 1px solid grey;
  font: 16px/1.2em comic-sans, sans;
}

h1,h2,h3,h4,h5,h6{
	font: 20px/1.2em sans-serif, sans;
}

a, p {
	font-family: monospace;
	text-decoration: none;
	font: 16px/1.2em sans, serif;
}

.site{	
	&-header {
		height: 60px;
		opacity: 0.9;
		background: #ffffff; /* Old browsers */
		background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
		@if $header !=undefined {
			background-color: $header;
		}
		@else {
			background-color: $background;
		}
    	&-nav {
  	   		//border: 4px solid $footer;
		    width: 100%;
            margin: 0 auto;
			height: 100%;
			background: inherit;
			@if $header !=undefined {
			  background-color: $header;
			}
			@else {
			  background-color: $background;
			}
			ul {
				height: 100%;
				margin: 0 auto;
				width: auto;
				padding: 0;
			  li {
				height: 100%;
				width: 25%;
				float: left;
				display: inline;
				padding: 20px 0px;
				#{$bleft}: $navspacer;
				//background-color: $background;
				position: relative;
				&:last-child{
					 #{$bright}: $navspacer; 
				}
				a {
			    	text-decoration: none;
					color: black;
				}
				&:hover {
				  background-color: #FFFFFF;
				}
			  }
			  &:after,
			  &:before {
				content: "";
				display: table;
				clear: both;
			  }
			}
		}
	}
	&-footer {
		background-color: $footer;
		opacity: 0.8;
		color: black;
		text-align: left;
		border: 4px solid grey;
		position: relative;
		padding: 5.208333334% 10.416666667%;
		&:child {
		  width: 100%;
		  border: 10px solid grey;
		  overflow: hidden;
		}
		&-container {
  		//border: 2px solid grey;
  		//@include box-sizing(padding-box);
			}
		&:after{
			content: " ";
			display: table;
			clear: both;
		}
	}
}

.img {
  &-small {
    width: 100%;
    height: 100%;
  }
  &-container {
    position: relative;
    width: 200px;
    height: 200px;
    border: $bordergrey;
    overflow: hidden;
    border-radius: $borderrad;
    &:hover {
      border: 3px solid grey;
    }
  }
  &-merit {
    width: 500px;
    height: 200px;
  }
	&-profile{
	margin: 6.25% auto;
	}
}

main {
  background-color: white;
  border: $bordergrey;
}

.intro {
  width: 50%;
  margin: 0 auto;
  #{$btop}: 4px solid grey;
  #{$bbottom}: 4px solid grey;
  background-color: $content;
}

.portfolio {
  margin: 6% 0;
  background-color: $content;
}

.slider{
	margin: 60px auto;
	width: 60%;
	height: 30%;
	position: relative;
	img{
		width: 100%;
		height: 350px;
	}
	div{
		overflow: hidden;
		position: relative;
		text-align: center;
		border: 1px solid black;
		border-radius: 5px;
		figcaption{
			width: 100%;
			background-color: darkslategray;
			opacity: 1;
			position: absolute;
			bottom: 0;
			color: white;
			padding: auto;
			h2{
				opacity: 1;
				color: white;
			}
		}
	}
	/*.merit{
		overflow: hidden;
		display: none;
		position: relative;
		figcaption{
			width: 100%;
			background-color: darkslategray;
			opacity: 0.2;
			position: absolute;
			bottom: 0;
		}
	}
	.codexx{
		overflow: hidden;
		display: none;
		position: relative;
		figcaption{
			width: 100%;
			background-color: darkslategray;
			opacity: 0.2;
			position: absolute;
			bottom: 0;
		}
	}
	.brain{
		overflow: hidden;
		display: none;
		position: relative;
		figcaption{
			width: 100%;
			background-color: darkslategray;
			opacity: 0.2;
			position: absolute;
			bottom: 0;
		}
	}*/
	h3{
		display: inline;
	}
}

figure {
  display: inline-block;
  margin: 4.1666667% 4.1666667% 4.1666667%;
  opacity: 0.8;
  transition: 0.2s ease-in-out 0s;
  &:hover {
    opacity: 1;
  }
}

figcaption {
  position: absolute;
  bottom: 0%;
  left: 0%;
  height: 20%;
  width: 100%;
  font: italic bold 0.6em/1.0em sans;
  text-align: center;
  color: black;
  background-color: white;
  &:hover {
    background-color: $background;
  }
}


	.contact-details{
		width: 50%;
		height: 200px;
		float: left;
		opacity: 0.7;
		color: white;
		text-align: center;
		padding: 50px;
		border: 2px solid grey;
		background-color: black;
	}
  	.contact-form {
		width: 50%;
		height: 200px;
		padding: 20px 20px;
		float: right;
		opacity: 0.7;
		color: black;
		//border-radius: 15px;
		border: 2px solid grey;
		background-color: white;
		textarea{
			width: 80%;
			height: 70%;
			margin: 10px auto;
		}
		&-email{
			width: 80%;
		}
	  }


//aboutme

.loading{
background-color: black;
}
.done{
background-color: white;
}

.skillset{
	.container{
		display: inline-block;
		width: 30%;
		margin: 10px 0;
		height: 220px;
		overflow: hidden;
		padding: 5px;
		background-color: $content;
		border: 1px solid grey;
	}
	img{
		width: 100px;
	}
	h2,p{
		width: 80%;
		margin: 10px auto;
	}
	p{
		font-size: 14px;
	}
	.content{
		width: 80%;
		text-align: left;
		margin: 0 auto;
	}
}

.ajaxNav{
	margin: 10px;
	padding: 2px;
	h3{
			display: inline;
			border: 1px solid black;
	}
}

//.intro break point

/*@media screen and (max-width: 1166px){
	body{
		font-size: 14px;
	}
}*/

@media screen and (max-width: 1082px){
	.site{
		&-header{
			&-nav{
				width: inherit;
				ul{
					width: 100%;
				}
			}
		}
	}
}

@media screen and (max-width: 962px){
	body{
		font-size: 14px;
	}
}

@media screen and (max-width: 825px){
	body{
		font-size: 14px;
	}
}



@media screen and (max-width: 695px){
	.img{
		&-portfolio{
			width: 120px;
			height: 120px;
		}
	}
}

@media screen and (max-width: 515px){
	body{
		font-size: 12px;
	}
}

@media screen and (max-width: 428px){
	body{
		font-size: 10px;
	}
}